@import '../../StyledVariables.scss';

#not_found_container{
    width: 100%;
    height: 100%;

    text-align: center;

    > p#not_found__title{
        font-size: 28px;
        color: $color-main-text;
        font-weight: 600;
    }

    > p#not_found__desc{
        font-weight: 500;
    }
}