#contact_container {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 50px 10px 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.6s ease-in 0.1s !important;
  transition: -webkit-transform 0.6s ease-in 0.1s !important;
  transition: transform 0.6s ease-in 0.1s !important;
  transition: transform 0.6s ease-in 0.1s, -webkit-transform 0.6s ease-in 0.1s !important;
  background: rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", "GothamRoundedBook", sans-serif !important;
}

@media screen and (min-width: 680px) {
  #contact_container {
    padding: 50px 24px 8px 24px;
  }
}

@media screen and (min-width: 1024px) {
  #contact_container div#close_btn_parent {
    position: relative;
  }
}

#contact_container div#close_btn_parent {
  width: 100%;
  max-width: 1150px;
  height: 100%;
  max-height: 790px;
  background: #fff;
  border-radius: 5px;
  -webkit-animation-duration: 0.2s !important;
          animation-duration: 0.2s !important;
}

#contact_container button#btn_close_contact_container {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #4a90e2;
  position: absolute;
  top: 16px;
  right: 8px;
  z-index: 2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  #contact_container button#btn_close_contact_container {
    width: 34px;
    height: 34px;
    right: 16px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(74, 144, 226, 0.36);
            box-shadow: 0 2px 10px 0 rgba(74, 144, 226, 0.36);
  }
}

#contact_container button#btn_close_contact_container span {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  -webkit-transform: scaleY(0.85);
          transform: scaleY(0.85);
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  #contact_container button#btn_close_contact_container span {
    font-weight: 300;
    font-size: 30px;
    margin-top: -6px;
  }
}

#contact_container div#__body {
  width: 100%;
  max-width: 1150px;
  height: 100%;
  max-height: 790px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 8px 20px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media screen and (min-width: 1024px) {
  #contact_container div#__body {
    position: relative;
    padding: 0;
  }
}

#contact_container div#__body div#__content {
  width: 700%;
  height: calc(100% - 50px);
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 1s ease-out 0s !important;
  transition: -webkit-transform 1s ease-out 0s !important;
  transition: transform 1s ease-out 0s !important;
  transition: transform 1s ease-out 0s, -webkit-transform 1s ease-out 0s !important;
}

@media screen and (min-width: 1024px) {
  #contact_container div#__body div#__content {
    padding-bottom: 0px;
  }
}

.hide_dot {
  opacity: 0;
  pointer-events: none;
}

.disabled_dot img {
  display: none;
}

.disabled_dot img#disabled_forward_arrow {
  display: block !important;
}

.remove_dot_background {
  background-color: transparent !important;
  -webkit-box-shadow: inset 0 1px 10px 0 rgba(74, 144, 226, 0.36) !important;
          box-shadow: inset 0 1px 10px 0 rgba(74, 144, 226, 0.36) !important;
}

.contact_screen {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  z-index: 2;
  position: relative;
}

.screen_content {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: calc(100% - 50px);
}

@media screen and (min-width: 1024px) {
  .screen_content {
    padding: 120px 0 40px 0;
    max-width: 670px;
  }
}

.form_screen_title {
  font-size: 18px;
  text-align: center;
  color: #415b5c;
  font-weight: 400;
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (min-width: 680px) {
  .form_screen_title {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .form_screen_title {
    margin-top: 36px;
    width: 100%;
    max-width: 75%;
    margin-left: 1rem;
    margin-right: 1rem;
    position: absolute;
    top: 0px;
    left: 12%;
  }
}

._main_text {
  color: #4a90e2;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  ._main_text {
    font-size: 18px !important;
  }
}

.user_needs_console_text {
  font-size: 16px;
  line-height: 22px;
  color: #415b5c;
  margin: 8px 0 20px 0;
}

.user_needs_console_text span.animated_text_option {
  font-weight: 500;
}

.contact_button {
  height: 40px;
  background: #f3f5f9;
  -webkit-box-shadow: 0 0 20px 0 rgba(74, 144, 226, 0.3);
          box-shadow: 0 0 20px 0 rgba(74, 144, 226, 0.3);
  margin: 8px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #403f4c;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact_button:hover {
  font-weight: 500;
}

@media screen and (min-width: 680px) {
  .contact_button {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .contact_button {
    font-size: 18px;
    height: 50px !important;
  }
}

.form_field {
  font-size: 14px;
  font-weight: 300;
  color: #3b484f;
  border-bottom: 1px solid #979797;
  padding-bottom: 2px;
}

.form_field::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 16px;
  font-style: italic;
}

.form_field:-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 16px;
  font-style: italic;
}

.form_field::-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 16px;
  font-style: italic;
}

.form_field::placeholder {
  color: #b5b5b5;
  font-size: 16px;
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  .form_field {
    font-size: 16px;
  }
}

.error {
  font-size: 11px;
  color: #f45b69;
  margin-top: 8px;
  font-style: italic;
}

.field_error {
  border-bottom: 2px solid #d91616 !important;
}

#contact_container div#__controls {
  width: 100%;
  max-width: 500px;
  height: 55px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
}

#contact_container div#__controls button {
  width: 32px !important;
  height: 32px !important;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important;
  border-radius: 50%;
}

#contact_container div#__controls button img {
  width: 20px;
  height: 20px;
}

#contact_container div#__controls button img#disabled_forward_arrow {
  display: none;
}

#contact_container div#__controls button#btn_previous_screen img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#contact_container div#__controls div.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  #contact_container div#__controls div.dot {
    width: 20px;
    height: 20px;
  }
}

#contact_container div#__controls div#dot1 {
  background-color: #4a90e2;
  -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.33), 0 2px 4px 0 rgba(74, 144, 226, 0.36);
          box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.33), 0 2px 4px 0 rgba(74, 144, 226, 0.36);
}

#contact_container div#__controls div#dot2 {
  background-color: #69cfeb;
  -webkit-box-shadow: 0 2px 10px 0 rgba(105, 207, 235, 0.46);
          box-shadow: 0 2px 10px 0 rgba(105, 207, 235, 0.46);
}

#contact_container div#__controls div#dot3 {
  background-color: #02a8ca;
  -webkit-box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.33), 0 2px 4px 0 rgba(74, 144, 226, 0.36);
          box-shadow: inset 0 1px 7px 0 rgba(0, 0, 0, 0.33), 0 2px 4px 0 rgba(74, 144, 226, 0.36);
}
