@import "../../sass/_mixins.scss";
@import "../../sass/variables.scss";
main {
	width: 100%;
	height: 100%;
	max-width: 960px;
	position: relative;

	@include flexCenter($direction: column);

	margin: 0 auto;

	text-align: center;

	#home_img {
		max-width: 400px;
		max-height: 30vh;
	}

	#home_main_text {
		font-size: 28px;
		font-family: "GothamRoundedBold";
		line-height: 1.4;

		@media screen and (min-width: $large_mobile_size) {
			font-size: 50px;
		}
	}

	#home_description {
		line-height: 1.3;
	}

	#btn_start {
		min-width: 180px;
		height: 70px;

		@media screen and (min-width: $large_mobile_size) {
			min-width: 220px;
			height: 80px;
			font-size: 24px;
		}
	}
}
