@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$color-main-text: #333333;
$color-text: #6B6B6B;
$color-highlight: #4A94AC;
$color-shadow-box: (83, 83, 83, 0.2);
$color-heart-filled: #FF5B8D;
$color-icons: #4D4D4D;

// Screen sizes
$start-mobile-screen: 800px;
$start-desktop-screen: 1100px;
