@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	color: var(--text-color);
}

html,
body {
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	/* height: 100%; */
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	background-color: #fafafa;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Global classes */

.scroll_bar_container {
	width: 12px;
	height: 100%;

	background: #f1f1f1;
	padding: 5px 2px;

	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: 1024px) {
	.scroll_bar_container {
		display: none !important;
	}
}

.scroll_bar_container .scroll_bar {
	width: 100%;
	height: 100%;
	min-height: 40px;
	background-color: lightgray;

	border-radius: 15px;
	z-index: 5;

	position: relative;
}

/* Remove arrows from input:number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
