#project_info_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  #project_info_container {
    background: #fff url(https://widgets.yeeply.com/1618934712/img/road.5171460b.svg) no-repeat center 80%;
  }
}

@media screen and (min-width: 1024px) {
  #project_info_container p.user_needs_console_text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  #project_info_container img#_img_tree_woman {
    position: absolute;
    bottom: 120px;
    left: 20px;
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  #project_info_container img#_img_tree_man {
    position: absolute;
    top: 130px;
    right: 20px;
    width: 190px;
  }
}

#project_info_container div#_project_info_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 24px;
}

#project_info_container div#_project_info_content div._item_info {
  width: 100%;
}

#project_info_container div#_project_info_content div._item_info > h3._main_text {
  font-size: 16px;
}

#project_info_container div#_project_info_content div._item_info input#in_project_name {
  width: 100%;
}

#project_info_container div#_project_info_content div._item_info textarea#txt_area_project_requirements {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 220px;
  resize: vertical;
}

#project_info_container div#_next_button_container {
  width: 100%;
  height: 100%;
  max-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  #project_info_container div#_next_button_container {
    max-height: 100px;
  }
}

#project_info_container div#_next_button_container button#project_info_next_button {
  width: 150px;
}

#project_info_container div#_next_button_container button#project_info_next_button:hover {
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  #project_info_container div#_next_button_container button#project_info_next_button {
    width: 190px;
  }
}
