@charset "UTF-8";
div#client_company_info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container img#_img_window_woman,
  div#client_company_info_container img#_img_window_man {
    position: absolute;
    top: -50px;
  }
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container img#_img_window_woman {
    right: 30px;
    width: 140px;
  }
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container img#_img_window_man {
    left: 30px;
    width: 130px;
  }
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container div#scroll_container {
    overflow-y: auto;
    max-height: 90%;
    margin-top: 8%;
  }
}

div#client_company_info_container div.screen_content {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container div.screen_content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

div#client_company_info_container div#__company_info_body {
  padding-top: 16px;
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container div#__company_info_body {
    padding-bottom: 50px;
  }
}

div#client_company_info_container div#__company_info_body div#form_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions {
  width: 100%;
  text-align: center;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message div#checkbox_container {
  width: 18px;
  height: 18px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message div#checkbox_container:hover {
  background: #d9d9d9;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message div#checkbox_container input[type="checkbox"] {
  opacity: 0;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message span {
  font-size: 12px;
  color: #415b5c;
  font-style: italic;
  margin-top: 2px;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message span a {
  color: #415b5c;
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

div#client_company_info_container div#__company_info_body div#form_footer div#_term_and_conditions div#_container_terms_and_conditions_message span a:hover {
  text-decoration: underline;
}

div#client_company_info_container div#__company_info_body div#form_footer button#btn_submit_form {
  width: 130px;
  height: 40px;
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container div#__company_info_body div#form_footer button#btn_submit_form {
    width: 180px;
    margin-top: 4px;
  }
}

div#client_company_info_container form {
  width: 100%;
}

@media screen and (min-width: 680px) {
  div#client_company_info_container form div#form_fields {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(50% - 18px) calc(50% - 18px);
        grid-template-columns: calc(50% - 18px) calc(50% - 18px);
    -webkit-column-gap: 36px;
            column-gap: 36px;
  }
}

div#client_company_info_container form div#form_fields div._form_item {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container form div#form_fields div._form_item {
    margin: 4px 0 0 0;
    height: 94px;
  }
}

div#client_company_info_container form div#form_fields div._form_item .form_field {
  padding-top: 16px;
}

div#form_fields div#field__phone_number div#phone_number_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

div#form_fields div#field__phone_number div#phone_number_content div#countries_flags {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 8px 0 8px;
}

div#form_fields div#field__phone_number div#phone_number_content div#countries_flags img {
  width: 20px;
}

div#form_fields div#field__phone_number div#phone_number_content div#countries_flags span {
  color: #666;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  margin-left: 4px;
}

div#form_fields div#field__phone_number div#phone_number_content .form_field {
  width: 100%;
}

div#form_fields div#select_job_position {
  margin-bottom: 8px;
}

div#form_fields div#select_job_position span#required_field {
  font-size: 12px !important;
  margin-top: 16px;
}

@media screen and (min-width: 1024px) {
  div#form_fields div#select_job_position span#required_field {
    font-size: 14px;
  }
}

div#form_fields div#select_job_position div.select {
  z-index: 2;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-top: 16px;
  height: 22px;
  border-bottom: 2px solid #d9d9d9;
}

div#form_fields div#select_job_position div.select div._current_option {
  width: 100%;
  color: #333;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#form_fields div#select_job_position div.select div._current_option div#option_container {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

div#form_fields div#select_job_position div.select div._current_option div#option_container input[type="text"] {
  width: 100%;
  padding: 0;
  border-bottom: 0;
  pointer-events: none;
  font-size: 16px !important;
}

div#form_fields div#select_job_position div.select div._current_option span#_dropdown_symbol {
  -webkit-transform: scaleY(0.5) !important;
          transform: scaleY(0.5) !important;
  font-size: 14px;
  opacity: 0.8;
}

div#form_fields div#select_job_position div.select div._options {
  opacity: 0;
  width: 100%;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  pointer-events: none;
  border: 1px solid #d9d9d9;
  border-top: 1px solid transparent !important;
  padding: 4px 0;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
}

div#form_fields div#select_job_position div.select div._options div._option {
  padding: 8px 16px;
  color: #333;
}

div#form_fields div#select_job_position div.select div._options div._option:hover {
  background: #4a90e2;
  color: #fff;
}

.opened_dropdown_current_option span {
  opacity: 0.45 !important;
}

.opened_dropdown_current_option div._options {
  opacity: 1 !important;
  pointer-events: all !important;
}

.opened_dropdown_current_option::after {
  content: "";
  width: calc(100% - 16px);
  height: 1px;
  background: #4a90e2;
  position: absolute;
  bottom: 0;
  opacity: 1 !important;
}

div#client_company_info_container form div#company_type_container h3#company_type_title {
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  div#client_company_info_container form div#company_type_container h3#company_type_title {
    margin-top: 0;
    font-size: 18px;
  }
}

div#company_type_container div#__options {
  width: 100%;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  div#company_type_container div#__options {
    padding-top: 0;
  }
}

div#company_type_container div#__options div.company_type {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px 16px 16px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  div#company_type_container div#__options div.company_type {
    margin: 0 0 12px 0px;
    width: 120px;
  }
}

div#company_type_container div#__options div.company_type button.btn__select_company_type {
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #f3f5f9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(74, 144, 226, 0.36);
          box-shadow: 0 2px 5px 0 rgba(74, 144, 226, 0.36);
  padding: 0px 2px 0 2px;
  position: relative;
  border-radius: 5px;
  pointer-events: none;
}

@media screen and (min-width: 680px) {
  div#company_type_container div#__options div.company_type button.btn__select_company_type {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  div#company_type_container div#__options div.company_type button.btn__select_company_type {
    width: 90px;
    height: 90px;
  }
}

div#company_type_container div#__options div.company_type button.btn__select_company_type div {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  pointer-events: none;
}

div#company_type_container div#__options div.company_type span {
  font-weight: 300;
  text-transform: uppercase;
  color: #415b5c;
  font-size: 9px;
  text-align: center;
  margin-top: 4px;
  cursor: text !important;
}

@media screen and (min-width: 680px) {
  div#company_type_container div#__options div.company_type span {
    font-size: 11px;
  }
}

@media screen and (max-width: 680px) {
  div#company_type_container div#__options div.company_type:nth-child(4) {
    margin-left: 0;
  }
}

div#company_type_container div#__options div.company_type:nth-child(4) button.btn__select_company_type div {
  background-size: 68%;
}

@media screen and (max-width: 680px) {
  div#company_type_container div#__options div.company_type:nth-child(odd) {
    margin-right: 0;
    margin-left: 0;
  }
}

.active_company_type button {
  -webkit-box-shadow: inset 0 1px 6px 0 rgba(74, 144, 226, 0.3) !important;
          box-shadow: inset 0 1px 6px 0 rgba(74, 144, 226, 0.3) !important;
  background-color: #d7e5f6 !important;
}

.active_company_type span {
  font-weight: 500 !important;
}

.__checkbox_checked {
  background: #4a90e2 !important;
}

.__checkbox_checked::after {
  content: "✔";
  color: #fff;
  position: absolute;
  top: 1px;
  left: 2px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  font-size: 12px;
}
