#root {
  width: 100%;
  position: relative;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0;
  padding: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#3d3935));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #3d3935);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer > p {
  margin: 0 10px 0 0;
  font-size: 14px;
}

#footer > svg {
  width: 60px;
}

.title {
  margin: 0.3rem 0 0 0;
}

.mobile_container {
  padding: 0 16px;
}

.blue_highlight {
  color: #14e2cd;
}

.highlight_button {
  background-image: -webkit-gradient(linear, right top, left top, from(#7a56f4), to(#14e2cd));
  background-image: linear-gradient(to left, #7a56f4, #14e2cd);
  border-radius: 5px;
  margin-top: 0.5em;
  text-align: center;
  font-family: "GothamRoundedBold";
  color: #fff;
  font-size: 20px;
  position: relative;
  overflow: hidden;
}

.highlight_button:hover::after {
  content: "";
  width: 20px;
  height: 300px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  position: absolute;
  inset: -25px 0 0 0px;
  z-index: 0;
  -webkit-animation: 0.6s ease-out 0s slide forwards;
          animation: 0.6s ease-out 0s slide forwards;
}

@-webkit-keyframes slide {
  0% {
    left: -20px;
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: calc(100% + 20px);
  }
}

@keyframes slide {
  0% {
    left: -20px;
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: calc(100% + 20px);
  }
}

.hide_element {
  display: none !important;
}

.fade_in {
  -webkit-animation: 0.2s ease-out 0s fadeIn forwards;
          animation: 0.2s ease-out 0s fadeIn forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade_out {
  -webkit-animation: 0.1s ease-out 0s fadeOut forwards;
          animation: 0.1s ease-out 0s fadeOut forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.full_height_element {
  height: 100% !important;
}
